recursive-include tashares *.ini
recursive-include tashares *.png
recursive-include tashares *.py
include tashares/data/ashares/*
include tashares/data/stocks/*
include README.md
include LICENSE
include requirements.txt
